.columnar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

.columnar > div {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #333;
  border-radius: 1rem;
  background-color: rgb(254, 248, 239);
  width: 50%;
}


.verse:hover, .verse.active {
  filter: brightness(1.1);
  text-decoration: underline;
}